@page "/"
@using xcore.Area.Test.Service;
@inject DllService dllService;
<h1>Hello, world!</h1>

Welcome to your new app.
<button @onclick="dllInject"> 提交</button>
@code{
    private string name { get; set; }

    public void dllInject()
    {

        this.dllService.injectDll();

    }
}